<div id="<%= dom_id my_monitor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= my_monitor.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Schedule interval:</strong>
    <%= my_monitor.schedule_interval %>
  </p>

</div>
